@import "rouge-base16-dark";
@import "default_colors";

$body-background: #faf9f6 !default;
$body-foreground: #2d2d2d !default;
$header: #E7C6FF !default;
$blockquote-color: #2d2d2d !default;
$blockquote-border: #BDE0FE !default;
$container-max-width: 1000px;

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
      @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $body-background;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.container {
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
  text-align: left;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4;
}

header {
  background: #E7C6FF;
  width: 100%;
  border-bottom: non;
  padding: 20px 0;
  margin: 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Impact, sans-serif;
  color: #E7C6FF;
  text-shadow: none;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  @include media-max-width($container-max-width) {
    margin-left: 0;
  }
}

header h1:before {
  content: "./ ";
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px
  color: #000000;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Impact, sans-serif;
  color: $header;
  letter-spacing: 3px;
  text-shadow: none;
}

#main_content h1 { font-size: 30px; }
#main_content h2 { font-size: 24px; }
#main_content h3 { font-size: 18px; }
#main_content h4 { font-size: 14px; }
#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image: none;
  list-style-type: disc;
  color: #BDE0FE;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: #ede8e0;
  border: 1px solid #BDE0FE;
  padding: 10px;
  font-size: 16px;
  color: #2d2d2d;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: #ede8e0;
  border: 1px solid #BDE0FE;
  padding: 0px 3px;
  margin: 0px -3px;
  color: #E7C6FF;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #BDE0FE;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #BDE0FE;
  color: #BDE0FE;
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(220, 210, 255, 0.3), rgba(200, 190, 255, 0.3) 50%, rgba(180, 170, 235, 0.3) 50%, rgba(160, 150, 215, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(180, 170, 235, 0.7);
  border-bottom: 2px solid rgba(180, 170, 235, 0.7);
  border-top: 2px solid rgba(180, 170, 235, 1);
  color: #000000;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-shadow: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(220, 210, 255, 0.6), rgba(200, 190, 255, 0.6) 50%, rgba(180, 170, 235, 0.8) 50%, rgba(160, 150, 215, 0.8));
}

a {
  color: #BDE0FE;
  text-shadow: none;
}

a:hover {
  color: #E7C6FF;
}

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

#a-title {
  text-decoration: none;
}

ul, ol {
  display: inline-block;
  text-align: left;
}
