<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <!-- Hero Section -->
        <div class="hero-section" style="text-align: center;">
          <div style="background-color: #E7C6FF: flex; align-items: center; justify-content: center;">
            <img src="/assets/images/H4H Logo Without Background and Year.png" alt="Hack4Her Logo" style="max-width: 200px; height: auto;"/><h2 style="text-align: center; font-size: 1.5em; font-weight: bold; color: #2d2d2d !important; letter-spacing:4px;margin-left:30px">CELEBRATING WOMEN IN TECH</h2>
        </div>
      </div>
    </header>

    <!-- Navigation Bar -->
    <nav style="background-color: #E7C6FF; padding: 12px 0; text-align: center; width: 100%;">
      <a href="/" style="color: #2d2d2d; text-decoration: none; margin: 0 20px; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;">Home</a>
      <a href="../about.html" style="color: #2d2d2d; text-decoration: none; margin: 0 20px; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;">About Us</a>
      <a href="../2024_event.html" style="color: #2d2d2d; text-decoration: none; margin: 0 20px; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;">Information</a>
      <a href="../2024_schedule.html" style="color: #2d2d2d; text-decoration: none; margin: 0 20px; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;">Schedule</a>
      <a href="../code_conduct.html" style="color: #2d2d2d; text-decoration: none; margin: 0 20px; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;">Code of Conduct</a>
    </nav>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
